<!-- views/index.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>fetchsample</title>
    <meta descr="pour faire un post fetch vers node">
   
</head>
<body>

	<form>
        <input type="submit" value="sendfetch">
    </form>

</body>
</html>