<!-- views/index.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>fetchsample</title>
    <meta descr="pour faire un post fetch vers node">
   
</head>
<body>

	<button onclick="sendpostfetch()">sendfetch</button>

</body>
</html>
<script>

sendpostfetch = function()
{
	console.log("will send a fetch request")
	fetch('/fetchpost', {
  		method: 'POST',
  		body: JSON.stringify({
				email: 'antoine@naturalpad.fr',
				answer: 'no answer to you'
			}),
		headers: {
      		'Content-Type': 'application/json'
    	}
	})
}

</script>